<table class="table">
                        <thead>
                          <tr>
                            
                            <th> nom </th>
                            <th> email</th>
                            <th> numero  </th>
                            <th> date naissance </th>
                            <th> document </th>
                            <th> statut </th>
                            <th> Start Date </th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                          <tr>
                            
                           
                            <td> {{client.username}} </td>
                            <td> {{client.email}}</td>
                            <td> {{client.numero}} </td>
                            <td> {{client.DateNaissance|date('d-m-Y')}} </td>
                             <td>
                                  {% if client.borchureFilename %}
                                      <a href="{{ asset('uploads/brochures/' ~ client.borchureFilename) }}">Voir le document</a>
                                  {% else %}
                                      Pas de document
                                  {% endif %}
                              </td>
                            <td>{% if client.isVerified == 1 %}
                                <button type="button" class="btn btn-sm btn-success">Compte vérifie</button>
                                {% else %}
                                <div class="badge badge-outline-danger">Compte non vérifie</div>
                              {% endif %}
                            </td>
                            <td>
                              {% if client.etat == 1 %}
                                <script src="{{asset('/js/script.js')}}"></script>
                                <a id="myButton" type="button" class="btn btn-outline-danger" 
                                    onclick="delayAction(event,this)" href="{{ path('app_block_client',{id : client.id}) }}">Bloqué client</a>
                                {% else %}
                                <script src="{{asset('/js/script.js')}}"></script>
                                <a id="myButton" type="button" class="btn btn-outline-success" onclick="delayAction(event,this)"
                                    href="{{ path('app_deblock_client',{id : client.id}) }}">Débloqué client</a>
                              {% endif %}
                              </td>
                           
                          </tr>
                         
                           {% endfor %} 
                        </tbody>
                      </table>